@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root{
   --AlmostWhite: #fafafa;
   --MediumGray: #696969;
   --AlmostBlack: #141414;
   --DarkGray: #181818;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: var(--MediumGray);
   font-size: 18px;
   font-family: 'Epilogue', sans-serif;
   

}
body{
   max-width: 1200px;
   margin: auto;
}